@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../_fonts/Quicksand-Regular.woff2') format('woff2'), 
         url('../_fonts/Quicksand-Regular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../_fonts/Quicksand-Medium.woff2') format('woff2'), 
         url('../_fonts/Quicksand-Medium.woff') format('woff'); 
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../_fonts/Quicksand-Bold.woff2') format('woff2'), 
         url('../_fonts/Quicksand-Bold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}

