@import "vars";
@import "global";
@import "fonts";

// start headeer
.header__top {
    background-color: $hbg;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
}

.header__buttons {
    margin: 0 45px 0 auto;

    .header__btn {
        font-family: "Quicksand-Regular";
        font-size: 14px;
        line-height: 28px;
        background-color: $blue;
        color: #fff;
        border: none;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 0 17px;
        text-align: center;
        cursor: pointer;
        outline: none;
    }
}

.header__box {
    margin-right: 48px;
    display: flex;
    &-btn + .header__box-btn {
        margin-left: 32px;
    }

    &-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        position: relative;
        color: #7e8fa1;
        position: relative;
        .lnr {
            font-size: 20px;
        }
    }
}
.header__numb {
    position: absolute;
    // display: inline-block;
    width: 26px;
    height: 22px;
    background-color: $coral;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    @include f500;
    top: -16px;
    left: 8px;

    &--green,
    &--blue {
        background-color: #62d03b;
        width: 22px;
        height: 22px;
        top: -15px;
        left: 13px;
    }

    &--blue {
        background-color: #0674ec;
        left: 14px;
    }
}

.header__name {
    font-family: "Quicksand-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $text;
}

.header__price {
    line-height: 22px;
    font-size: 15px;
    color: $blue;
}

.header__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}

.header__menu {
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    }
}

.menu {
    &__items {
        display: inline-block;
    }
    &__items + .menu__items {
        margin-left: 32px;
    }
    &__link {
        font-family: "Quicksand-Medium";
        font-weight: 500;
        font-size: 15px;
        color: $text;
        text-transform: uppercase;
    }
}

.menu__search {
    flex: 0 1 360px;
    &-form {
        max-width: 360px;
        position: relative;

        input {
            display: block;
            width: 100%;
            border-radius: 20px;
            height: 44px;
            border: 1px solid #d9dfe5;
            font-size: 15px;
            color: #898f96;
            outline: none;
            padding: 0 95px 0 25px;
            &::placeholder {
                color: #898f96;
                font-size: 15px;
            }
        }
    }
    &-btn {
        background-color: #0674ec;
        position: absolute;
        top: 0px;
        right: 0px;
        border: none;
        padding: 12px 27px;
        border-radius: 27px;
        outline: none;
        cursor: pointer;
    }
}

// end header
// start products
.products {
    background: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);

    &__inner {
        padding-top: 167px;
        text-align: center;
        color: #fff;
        p {
            font-family: "Quicksand-Medium";
            font-size: 20px;
            margin-bottom: 65px;
        }
    }
    &__title {
        font-size: 60px;
        line-height: 70px;

        span {
            font-family: "Quicksand-Bold";
            font-size: 60px;
            line-height: 70px;
            margin-bottom: 30px;
            display: block;
        }
    }

    &__link {
        font-size: 16px;
        padding: 19px 32px;
        border-radius: 22px;
        margin: 0 30px 235px 0;
        background-color: #fff;
        color: $blue;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        &--popular {
            border: 1px solid #fff;
            background-color: transparent;
            color: #fff;
        }
    }
}
// end products

//start search
.search {
    margin-bottom: 95px;
    &__inner {
        background-color: #fff;
        margin-top: -74px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        font-size: 16px;
    }
    &__form {
        padding: 40px;
        position: relative;
        z-index: 10;

        input {
            flex: 0 1 615px;
            padding: 17px 28px;
            color: #676767;
            border: 1px solid #dcdcdc;
            border-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
            outline: none;
        }
    }
    select {
        flex: 0 1 18%;
        color: #555555;
        padding: 17px 28px;
        border: 1px solid #dcdcdc;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        outline: none;
        appearance: none;
        margin-right: 30px;
    }
    &__btn {
        flex: 0 1 21%;
        background-color: #0674ec;
        color: #fff;
        padding: 17px 66px;
        text-align: center;
        border-radius: 4px;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

.search__form-inner {
    display: flex;
}

.search__form::before,
.search__form::after {
    content: "";
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    opacity: 50%;
    height: 35px;
    max-width: 1110px;
    width: 100%;
    top: -13px;
    left: 15px;
    z-index: 3;
}

.search__form::after {
    max-width: 1080px;
    width: 100%;
    top: -26px;
    left: 30px;
    z-index: 2;
}

//end products
// start advantages
// 112 113
.advantages {
    margin-bottom: 121px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding: 48px 33px 20px;
        max-width: 365px;
        min-height: 410px;
        cursor: default;
        text-align: center;
        transition: all 0.3s;
    }
    &__item:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &__images {
        width: 113px;
        height: 112px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto 33px;
    }
    &__title {
        margin-bottom: 28px;
        font-size: 24px;
    }
    p {
        font-size: 16px;
        color: #555555;
        line-height: 30px;
    }
}

// end advantages

/* start weekly */

.weekly {
    background-color: #eff1f5;
    padding: 120px 0;
    &__title {
        background-color: #fff;
        padding: 42px 195px 40px 29px;
        font-size: 30px;
        margin-bottom: 50px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    }
}

.weekly-slider {
    &__item {
        display: flex;
        background-color: #fff;
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
        margin-bottom: 120px;
    }

    &__img {
        max-width: 550px;
        min-height: 450px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {
        padding: 48px 55px 0 58px;
        max-width: 586px;
        p {
            font-size: 15px;
            color: #555555;
            line-height: 30px;
            max-width: 450px;
            margin-bottom: 23px;
        }
    }

    &__title {
        margin-bottom: 16px;
        a {
            color: #000;
            font-size: 24px;
            @include f500;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        margin-bottom: 33px;
        img {
            margin-right: 10px;
        }
    }
}

.weekly-slider__name {
    margin-right: 43px;
    font-size: 15px;
}

.weekly-slider__category {
    font-size: 15px;
    color: #7347c1;
}

.weekly-slider__tags {
    font-size: 15px;
    line-height: 30px;
    color: #868c96;
    margin-bottom: 44px;
    span {
        background-color: #f1f3f6;
        padding: 6px 15px;
        border-radius: 25px;
        & + & {
            margin-left: 8px;
        }
    }
}

.weekly-slider__price {
    max-width: 485px;
    border-top: 1px solid #ececec;
    padding-top: 23px;
    margin-bottom: 25px;
    a {
        background-color: $blue;
        color: #fff;
        @include f500;
        line-height: 30px;
        font-size: 15px;
        padding: 1px 20px;
        border-radius: 25px;
    }
}

/* end weekly */
